<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if description is defined %}    <meta name="description" content="{{ description }}">{% endif %}
    {%- if keywords is defined %}    <meta name="keywords" content="{{ keywords }}">{% endif %}
    {%- if author is defined %}    <meta name="author" content="Ondřej Tůma McBig">{% endif %}

    <title>{{ title }}</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="page">

      <div class="header">
        <h1>{{ title }}</h1>
{%- if description is defined %}        <small>{{ description }}.</small>{% endif %}
        <div class="pannel">
{% if menu is defined -%}
          <menu class="main">
          {%- for item in menu %}
            <span class="item {{ 'selected' if item.selected }}"><a href="{{ item.link }}" title="{{ item.title }}" >{{ item.label }}</a></span>
          {%- endfor %}
          </menu>
{% endif %}
        </div><!-- /panel -->
      </div><!-- /header -->
